[submodule "diagnostics-to-json"]
	path = diagnostics-to-json
	url = git@github.com:balena-io-playground/diagnostics-to-json.git
[submodule "diagnostics-json-to-patterns-json"]
	path = diagnostics-json-to-patterns-json
	url = git@github.com:balena-io-playground/diagnostics-json-to-patterns-json.git
[submodule "patterns-json-to-jellyfish"]
	path = patterns-json-to-jellyfish
	url = git@github.com:balena-io-playground/patterns-json-to-jellyfish.git
